<!-- section+div+p -->
<section></section>
<div></div>
<p></p>

<!-- section>div>p -->
<section>
    <div>
        <p></p>
    </div>
</section>

<!-- section>div+div -->
<section>
    <div></div>
    <div></div>
</section>

<!-- div>ul>li*5 -->
<div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- (main>div) + section>div+div -->
<main>
    <div></div>
</main>
<section>
    <div></div>
    <div></div>
</section>


<!-- button[type=submit] -->
<button type="submit"></button>

<!-- ul>li*5{list item number $} -->
<ul>
    <li>list item number 1</li>
    <li>list item number 2</li>
    <li>list item number 3</li>
    <li>list item number 4</li>
    <li>list item number 5</li>
</ul>

<!-- lorem5 -->
Lorem ipsum dolor sit amet.
